navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 2rem;
  padding-left: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

navbar div {
  margin: 0.5rem; /* one rem is 16 px */
  font-family: Arial;
  font-weight: bold;
}

body {
  display: block;
  place-items: normal;
}

main {
   display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  margin-top: 3rem;
}